.list__actions {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.card__grid {
  margin-top: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px 20px;
}

@media (min-width: 768px) {
  .card__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
